body {
 background-image: url(./bg.png);
 background-size: 30%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beanie-baby {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.beanie-div{
  border: 1px solid hotpink;
  padding: 20px;
  width: 250px;
}

.beanie-div .beanie-img {
  width: 200px;
  object-fit: contain;
}

.beanies {
  text-align: left;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.beanie-detail {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.beanie-detail img {
  cursor: pointer;
  width: 400px;
}

.beanie-detail .beanie-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.beanie-detail .beanie-data p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

h3{
  margin-top: 10px;
}

.bean-holder{
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 200px;
  gap: 30px;
  height: 50vh;
  border: 1px solid hotpink;
  border-radius: 10px;
  padding: 30px;
}

.detail-image{
  width: 500px;
  object-fit: contain;
}